In [11]:
sc

In [12]:
from pyspark.sql.types import Row
from datetime import datetime

In [13]:
simple_data=sc.parallelize([1, "Alice", 50])
simple_data

ParallelCollectionRDD[13] at parallelize at PythonRDD.scala:195

In [14]:
simple_data.count()

3

In [15]:
simple_data.first()

1

In [16]:
simple_data.take(2)

[1, 'Alice']

In [17]:
simple_data.collect()

[1, 'Alice', 50]

In [19]:
df = simple_data.toDF()

TypeError: Can not infer schema for type: <class 'int'>

In [20]:
records=sc.parallelize([[1,"Alice", 50], [2, "Bob",80]])
records

ParallelCollectionRDD[23] at parallelize at PythonRDD.scala:195

In [21]:
records.collect()

[[1, 'Alice', 50], [2, 'Bob', 80]]

In [22]:
 records.take(2)

[[1, 'Alice', 50], [2, 'Bob', 80]]

In [23]:
df=records.toDF()

In [24]:
df

DataFrame[_1: bigint, _2: string, _3: bigint]

In [25]:
df.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
|  2|  Bob| 80|
+---+-----+---+

In [26]:
data=sc.parallelize([Row(id=1, name="Alice", score=50)])

In [27]:
data.collect()

[Row(id=1, name='Alice', score=50)]

In [28]:
df=data.toDF()
df.show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|Alice|   50|
+---+-----+-----+

In [29]:
complex_data=sc.parallelize([Row(cl=[1,2,3], cd={"k1":0}, cr=Row(a=1, b=2), ct=datetime(2014,8,1,14,1,5))])

In [31]:
cd_df=complex_data.toDF()
cd_df.show()

+---------+---------+------+-------------------+
|       cd|       cl|    cr|                 ct|
+---------+---------+------+-------------------+
|[k1 -> 0]|[1, 2, 3]|[1, 2]|2014-08-01 14:01:05|
+---------+---------+------+-------------------+

In [34]:
sqlContext = SQLContext(sc)

In [35]:
sqlContext

In [38]:
df = sqlContext.range(5)
df

DataFrame[id: bigint]

In [39]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [40]:
df.count()

5

In [42]:
data = [('Alice', 50), ('Bob', 80), ('Charles',50)]
data

[('Alice', 50), ('Bob', 80), ('Charles', 50)]

In [44]:
sqlContext.createDataFrame(data, ['Name', 'Score']).show()

+-------+-----+
|   Name|Score|
+-------+-----+
|  Alice|   50|
|    Bob|   80|
|Charles|   50|
+-------+-----+

In [45]:
data=sc.parallelize([Row(id=1, name="Alice", score=50)])

In [46]:
column_names=Row('id', 'name', 'score')
students=data.map(lambda r: column_names(*r))

In [49]:
students.collect()

[Row(id=1, name='Alice', score=50)]

In [50]:
students_df=sqlContext.createDataFrame(students)
students_df

DataFrame[id: bigint, name: string, score: bigint]

In [51]:
students_df.show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|Alice|   50|
+---+-----+-----+

In [52]:
cd_df.first()

Row(cd={'k1': 0}, cl=[1, 2, 3], cr=Row(a=1, b=2), ct=datetime.datetime(2014, 8, 1, 14, 1, 5))

In [53]:
cd_df.take(2)

[Row(cd={'k1': 0}, cl=[1, 2, 3], cr=Row(a=1, b=2), ct=datetime.datetime(2014, 8, 1, 14, 1, 5))]

In [55]:
cell_list=cd_df.collect()[0][1]
cell_list

[1, 2, 3]

In [56]:
cell_list.append(100)
cell_list

[1, 2, 3, 100]

In [57]:
cd_df.show()

+---------+---------+------+-------------------+
|       cd|       cl|    cr|                 ct|
+---------+---------+------+-------------------+
|[k1 -> 0]|[1, 2, 3]|[1, 2]|2014-08-01 14:01:05|
+---------+---------+------+-------------------+

In [58]:
cd_df.select('cd').show()

+---------+
|       cd|
+---------+
|[k1 -> 0]|
+---------+

In [64]:
#cd_df.select('cl')            .withColumn("c", cd_df.ct = cd_df.append('4')).show()

SyntaxError: keyword can't be an expression (<ipython-input-64-350f58dc5fed>, line 1)

In [67]:
import pandas
cd_df.show()

+---------+---------+------+-------------------+
|       cd|       cl|    cr|                 ct|
+---------+---------+------+-------------------+
|[k1 -> 0]|[1, 2, 3]|[1, 2]|2014-08-01 14:01:05|
+---------+---------+------+-------------------+

In [68]:
df_pandas=cd_df.toPandas()
df_pandas

TypeError: Cannot convert tz-naive Timestamp, use tz_localize to localize