In [1]:
sc

In [2]:
valuesA=[('John',100000),('James',150000),('Emily',65000), ('Nina',200000)]
tableA=spark.createDataFrame(valuesA, ['name','salary'])

In [3]:
tableA.show()

+-----+------+
| name|salary|
+-----+------+
| John|100000|
|James|150000|
|Emily| 65000|
| Nina|200000|
+-----+------+

In [4]:
valuesB = [('James',2),('Emily',3), ('Darth Vader',5), ('Princess Leia',6),]
tableB=spark.createDataFrame(valuesB,['name','employee_id'])

In [5]:
inner_join=tableA.join(tableB, tableA.name == tableB.name)
inner_join.show()

+-----+------+-----+-----------+
| name|salary| name|employee_id|
+-----+------+-----+-----------+
|James|150000|James|          2|
|Emily| 65000|Emily|          3|
+-----+------+-----+-----------+

In [6]:
left_join=tableA.join(tableB, tableA.name == tableB.name,how='left')
left_join.show()

+-----+------+-----+-----------+
| name|salary| name|employee_id|
+-----+------+-----+-----------+
|James|150000|James|          2|
| John|100000| null|       null|
|Emily| 65000|Emily|          3|
| Nina|200000| null|       null|
+-----+------+-----+-----------+

In [7]:
full_join=tableA.join(tableB, tableA.name == tableB.name,how='full')
full_join.show()

+-----+------+-------------+-----------+
| name|salary|         name|employee_id|
+-----+------+-------------+-----------+
|James|150000|        James|          2|
| John|100000|         null|       null|
| null|  null|Princess Leia|          6|
|Emily| 65000|        Emily|          3|
| Nina|200000|         null|       null|
| null|  null|  Darth Vader|          5|
+-----+------+-------------+-----------+